<div class="container-fluid">

  <div class="container">

    <!-- title of the page -->
    <h1 class="text-center text-primary mb-5 mt-3">Random User Generator</h1>

    <!-- input fields -->
    <div class="row d-flex justify-content-center" >
      <div class="col-6" >

        <label for="choose-country" class="mb-2 fw-bold">Choose country</label>
        <select class="form-select mb-4" id="choose-country">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <label for="error-number" class="mb-2 fw-bold">The number of error per record</label>
        <input type="number" class="form-control mb-4" id="error-number">
        
        <div class="col-12 mb-3 fw-bold">
          <label for="">Generated Random seed:</label>
        </div>

        <button class="btn-primary btn me-3">Generate Seed</button>
        <button class="btn btn-success">Generate Random Data</button>
      </div>
    </div>

    <!-- generated data table -->
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Random Identifier</th>
          <th scope="col">Full Name</th>
          <th scope="col">Full Adress</th>
          <th scope="col">Phone number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>sfhu3y3</td>
          <td>Murodov Javohir Rahmonjon o'gli</td>
          <td>Bukhara region,Jandar district</td>
          <td>+998943242636</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>